.u-center-text{text-align: center;}

.u-margin-bottom-big {padding: 8rem;

    @include respond(tab-port){
        margin-bottom: 1rem !important;
   }
}
.u-margin-bottom-medium{ padding: 4rem;

    @include respond(tab-port){
        margin-bottom: .5rem !important;
   }
}
.u-margin-top-big { margin-top: 8rem;}
.u-margin-top-huge { margin-top: 10rem;}
.u-margin-top-small { margin-top: 2rem;}

